<div class="container-sm text-center">
  <div class="mx-auto m-3">
    <h1>New Restaurant</h1>

    <%= render "form", restaurant: @restaurant %>

    <%= link_to "back to Restaurant List", restaurants_path %>

  </div>
</div>
